.app-features {
  background-color: #fff;

  .feature-image {
    max-width: 100%;
    height: auto;
    animation: floatMotion 3s ease-in-out infinite;
  }

  .feature-box {
    display: flex;
    align-items: flex-start;
  }

  .jackpot-icon {
    width: 70px;
    height: 70px;
    object-fit: contain;
  }



  p {
    font-size: 0.95rem;
    line-height: 1.6;
  }

  @media (max-width: 768px) {
    text-align: center;

    .feature-box {
      flex-direction: column;
      align-items: center;

      .feature-icon {
        margin-bottom: 1rem;
      }
    }

    .feature-image {
      margin-bottom: 2rem;
    }

    .jackpot-icon {
      margin-bottom: 1rem;
    }
  }
}
