@use "../custom" as *;

.intor-section, .features {
  font-family: "poppins", sans-serif;

  .phone-img,
  .feature-integration img,
  span img {
    animation: floatMotion 3s ease-in-out infinite;
  }




    // Features colors intact
  .feature-1 { color: #f55767; }
  .feature-2 { color: #2563ff; }
  .feature-3 { color: #40975f; }

 

  .vertical-line {
    border-left: 0.2rem solid $gray-400;
    height: 100%;
  }

  @media (max-width: 991px) {
    .vertical-line { display: none; }
    .feature-box, .lower-text, .lower-features, .feature-integration {
      margin-right: 0 !important;
      padding-right: 0 !important;
    }
  }
}

@keyframes floatMotion {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}
