
@use "../custom" as *;


.app-features {
  background-color: #fff;
  margin-top: 3rem;
  
  .feature-image {
    max-width: 100%;
    height: auto;
    animation: floatMotion 3s ease-in-out infinite;
  }

  .feature-list{
    margin-top: 4.5rem;

    h2{
      font-size: 2.5rem;
      text-transform: capitalize;
      font-weight: 600;
    }
    p{
      font-size: 1.3rem;
      color: $gray-700;
    }
  }

  .col-md-7{
    h5{
      font-size: 1.5rem;
    }
    p{
      font-size: 1rem;
      color: $gray-700;
    }
  }
  .feature-text-1{
    color: #f55767;
  }
   .feature-text-2{
    color: #2563ff;
  }
   .feature-text-3{
    color: #40975f;
  }



  
  @media (max-width: 768px) {
    text-align: center;


      .feature-icon {
        margin-bottom: 1rem;
      }
    }

    .feature-image {
      margin-bottom: 2rem;
    }

    .jackpot-icon {
      margin-bottom: 1rem;
    }
  }

