@use "../custom" as *;

.features {
  font-family: "poppins", sans-serif;
  margin-top: 5rem;
  margin-bottom: 5rem;

  // feature icon colors //

  .feature-1 {
    color: #f55767;
  }
  .feature-2 {
    color: #2563ff;
  }
  .feature-3 {
    color: #40975f;
  }

  .feature-icon {
    width: 50%;
  }

  span {
    img {
      animation: floatMotion 3s ease-in-out infinite;
    }
  }

  .feature-title {
    h3 {
      font-size: 2.4rem;
      margin-right: 19.1rem;
      text-transform: capitalize;
      margin-bottom: 1rem;
      font-weight: 650;
      color: $gunmetal;
    }

    span {
      p {
        font-size: 1.3rem;
        margin-right: 12rem;
        color: $gray-700;
      }
    }
  }

  .feature-box {
    display: flex;
    margin-right: 11rem;
    margin-top: 3rem;

    h5 {
      text-transform: capitalize;
      font-size: 1.5rem;
      font-weight: 700;
      gap: 2rem;
      line-height: 1rem;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1.1rem;
      font-weight: 500;
      color: $gray-600;
    }
  }

  // lower text ///

  .lower-text {
    margin-bottom: 5rem;
    h2 {
      font-size: 2.4rem;
      font-weight: 600;
      padding-left: 6rem;
      color: $gunmetal;

    }
    p {
      font-size: 1.1rem;
      font-weight: 500;
      color: $gray-600;
    }
    .vertical-line {
      border-left: 0.2rem solid;
      color: $gray-400;
    }
  }

  // lower features

  .lower-features {
    margin-bottom: 7rem;
    img {
      margin-bottom: 2rem;
    }
    h5 {
      margin-bottom: 0.5rem;
      font-weight: 700;
    }
    p {
      font-size: 1.1rem;
      font-weight: 600;
      padding-right: 4.5rem;
      color: $gray-600;
    }
  }
  .feature-integration {
    img{
      animation: floatMotion 3s ease-in-out infinite;
    }
  }

  .feature-integration{
    h2{
      font-size: 2.5rem;
      font-weight: 600;
      padding-right: 10.6rem;
      margin-bottom: 1rem;
      color: $gunmetal;
    }
    p {
      font-size: 1.1rem;
      font-weight: 600;
      color: $gray-600;
      padding-right: 10.6rem;
      margin-bottom: 2rem;
    }
  }







}



























// .app-features {
//   background-color: #fff;
//   margin-top: 3rem;

//   .feature-image {
//     max-width: 100%;
//     height: auto;
//     animation: floatMotion 3s ease-in-out infinite;
//   }

//   .feature-list {
//     margin-top: 4.5rem;

//     h2 {
//       font-size: 2.5rem;
//       text-transform: capitalize;
//       font-weight: 600;
//     }
//     p {
//       font-size: 1.3rem;
//       color: $gray-700;
//     }
//   }

//   .col-md-7 {
//     h5 {
//       font-size: 1.5rem;
//     }
//     p {
//       font-size: 1rem;
//       color: $gray-700;
//     }
//   }
//   .feature-text-1 {
//     color: #f55767;
//   }
//   .feature-text-2 {
//     color: #2563ff;
//   }
//   .feature-text-3 {
//     color: #40975f;
//   }

// .custom-row {
//   display: flex;
//   align-items: center;
// }

// .vertical-line {
//   width: 2px;                 /* same thickness */
//   height: 100%;               /* full height of text */
//   background-color: #ddd;     /* same light grey */
//   min-height: 120px;          /* ensures visible on desktop */
// }

// @media (max-width: 768px) {
//   .vertical-line {
//     display: none;            /* mobile me line remove (same UI behavior) */
//   }

//   .custom-row {
//     text-align: center;
//   }
// }

//   @media (max-width: 768px) {
//     text-align: center;

//     .feature-icon {
//       margin-bottom: 1rem;
//     }
//   }

//   .feature-image {
//     margin-bottom: 2rem;
//   }

//   .jackpot-icon {
//     margin-bottom: 1rem;
//   }
// }
