@use "../custom" as *;

.choose-app {
  font-family: "poppins", sans-serif;
  margin-top: 10rem;
  margin-bottom: 5rem;

  // Section Title & Description
  .display-4--title {
    font-size: 2.1rem;
    font-weight: 600;
    color: $gunmetal;
    margin-bottom: 1.5rem;
  }

  .display-4--description {
    font-size: 1.3rem;
    font-weight: 400;
    color: $gray-600;
    margin-bottom: 4rem;
  }

  .services {
    img {
      margin-bottom: 2rem;
      max-width: 100%;
    }

    h5 {
      text-transform: capitalize;
      font-size: 1.3rem;
      font-weight: 700;
      color: $gunmetal;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.1rem;
      font-weight: 500;
      color: $gray-600;
      margin-bottom: 4rem;
      padding: 0 1rem;
    }
  }

  // Responsive tweaks
  @media (max-width: 991px) {
    .display-4--title {
      font-size: 1.8rem;
    }
    .display-4--description {
      font-size: 1.1rem;
      margin-bottom: 3rem;
    }

    .services {
      p {
        margin-bottom: 2.5rem;
      }
    }
  }

  @media (max-width: 576px) {
    .display-4--title {
      font-size: 1.5rem;
    }
    .display-4--description {
      font-size: 1rem;
      margin-bottom: 2rem;
    }
    .services {
      p {
        margin-bottom: 2rem;
      }
    }
  }
}
