.companies {
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.company-img {
  max-height: 80px;
  object-fit: contain;
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: grayscale(100%);
  margin-bottom: 1.5rem;
}

.company-img:hover {
  transform: scale(1.08);
  filter: grayscale(0%);
}
