@use "../custom" as *;

.app-footer {
  font-family: "poppins", sans-serif;

  background-color: #0c1331;
  color: #d1d1d1;

  .footer-menu li a {
    color: #e3e3e3;
    font-size: 16px;
    text-decoration: none;
    transition: 0.3s;
    font-family: "poppins", sans-serif;

    &:hover {
      color: $yellow;
      text-decoration: underline;
    }
  }

  .footer-social a {
    color: #565e74;
    font-family: "poppins", sans-serif;

    font-size: 22px;
    transition: 0.3s;

    &:hover {
      color: #ffffff;
    }
  }
}
.footer-bottom__copyrights {
  color: $gray-700;
  a {
    font-family: "poppins", sans-serif;

    color: $yellow;
    text-decoration: none;
    font-weight: 600;
  }
}
