@use '../custom' as *;

.logo {
  width: 10%;
}
.menu {

  li {
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    a {
      line-height: 2rem;
      text-transform: capitalize;
      color: $gunmetal;
      font-weight: 400;
      font-size: 1rem;
      margin-right: 2rem;
      &:hover {
        color: $yellow;
      }
    }
  }
}

@media (max-width: 992px) {
  .navbar-collapse {
    padding: 1rem;
  }
}
