@use "../custom" as *;

.planning {
  font-family: "poppins", sans-serif;
  margin-top: 10rem;
  margin-bottom: 5rem;
  .services-2 {
    img {
      margin: 0rem 0rem 2rem 0rem;
    }
    h5 {
      text-transform: capitalize;
      font-size: 1.3rem;
      font-weight: 700;
      gap: 2rem;
      line-height: 1rem;
      color: $gunmetal;
      margin: 0rem 0rem 1rem 0rem;
    }
    p {
      font-size: 1.1rem;
      font-weight: 500;
      color: $gray-600;
    }
  }
}
