@use "../custom" as *;

.pricing-section {
  font-family: "poppins", sans-serif;

  .toggle-wrapper {
    background: $white;
    padding: 1rem;
    border-radius: 50px;
    width: 15rem;
    height: 3rem;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;

    .toggle-slider {
      position: absolute;
      top: 5%;
      left: 0%;
      width: 50%;
      height: 42px;
      background: $primary;
      border-radius: 40px;
      transition: all 0.35s ease;
      z-index: 1;
    }

    .plan-btn {
      z-index: 2;
      flex: 1;
      background: none;
      border: none;
      font-weight: 600;
      padding: 10px 0;
      border-radius: 50px;
      color: $gray-600;
      transition: all 0.3s ease;

      &.active {
        color: $white;
      }
    }
  }

  .pricing-card {
    border-radius: 25px;
    background: #ffffff;
    transition: 0.35s ease;
    border: 1px solid #e5e5e5;
    transform: scale(0.98);

    &.active-card {
      border: 2px solid $primary;
      transform: scale(1.02);
      box-shadow: 0 10px 35px rgba(0, 0, 0, 0.08);
    }

    .price {
      font-size: 48px;
      font-weight: 800;
      color: $gunmetal;
    }

    ul li {
      margin-bottom: 1rem;
      line-height: 2rem;
      color: $gray-600;
      font-size: 15px;
    }
    a{
        text-decoration: none;
        &:hover{
            text-decoration: underline;
            font-weight: 600;
        }
    }
  }
}
