@use "../custom" as *;
@use "../custom" as *;
.testimonials {
  font-family: "Poppins", sans-serif;

  .star-icon {
    color: $yellow;
    font-size: 1.4rem;
  }

  h5 {
    color: $gunmetal;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
  }

  .testimonial-text {
    color: $gray-600;
    font-weight: 500;
    min-height: 120px; // ensures all slides same height
  }

  .testimonials-image img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .btn-arrow-left, .btn-arrow-right {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
  }

  .btn-arrow-left {
    background-color: white;
    color: $gray-400;
    border: 2px solid $gray-300;

    &:hover {
      color: white;
      background-color: $primary;
      border: 2px solid $gray-400;
    }
  }

  .btn-arrow-right {
    background-color: $gray-200;
    color: $primary;

    &:hover {
      color: white;
      background-color: $primary;
      border: 2px solid $gray-400;
    }
  }

  .divider {
    border-left: 2px solid $gray-300;
  }

  // Responsive
  @media(max-width: 768px){
    .testimonial-text {
      min-height: auto;
    }
    .testimonials-image img {
      width: 50px;
      height: 50px;
    }
  }
}
