@use "../custom" as *;

.testimonials {
  font-family: "poppins", sans-serif;
  .star-icon {
    margin: 1rem 0rem 1rem 0rem;
    color: $yellow;
    font-size: 1.4rem;
  }
  h5 {
    color: $gunmetal;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0rem 0rem 1.5rem 0rem;
  }
  p {
    color: $gray-600;
    font-weight: 500;
  }
  .testimonials-image {
    font-family: "poppins", sans-serif;

    h2 {
      text-transform: capitalize;
      font-size: 1.1rem;
      font-weight: 700;
      color: $gunmetal;
      margin-left: 1.7rem;
      line-height: 1.6rem;
      margin-top: 1.4rem;
    }
  }

  /* Base button */
  .btn-arrow-right {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0;
    cursor: pointer;
    background: $gray-200;
    color: $primary;
    &:hover {
      color: white;
      background-color: $primary;
      transition: 0.5s;
      border: 2px solid $gray-400;
    }
  }

  .btn-arrow-left {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: $gray-400;
    font-weight: 800;
    border: 2px solid $gray-300;
    padding: 0;
    &:hover {
      color: white;
      background-color: $primary;
      transition: 0.5s;
      border: 2px solid $gray-400;
    }
  }

  .divider {
    border-left: 2px solid $gray-300;
  }
}
