
// Floating (upar–niche halki motion)
@keyframes floatMotion {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

// Yellow glow pulse (light kam–zyada hoti rahe)
@keyframes yellowGlowPulse {
  0% {
    filter: drop-shadow(0 0 2px rgba(27, 62, 202));
  }
  50% {
    filter: drop-shadow(0 0 10px rgb(27, 62, 202));
  }
  100% {
    filter: drop-shadow(0 0 2px rgba(27, 62, 202));
  }
}


  // Optional animation (floating phone)
  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }



/* SCROLL ANIMATIONS */
.animate-left,
.animate-right,
.animate-up,
.animate-fade {
  opacity: 0;
  transform: translateX(0) translateY(0);
  transition: all 0.8s ease-out;
}

.animate-left {
  transform: translateX(-50px);
}

.animate-right {
  transform: translateX(50px);
}

.animate-up {
  transform: translateY(50px);
}

.animate-fade {
  transform: translateY(20px);
}

.visible {
  opacity: 1 !important;
  transform: translateX(0) translateY(0) !important;
}


