@use "../custom" as *;

.btn-rounded {
  @include media-breakpoint-down(sm) {
    display: none;
  }
  padding: 0.54rem 1.8rem 0.54rem 1.8rem;
  font-weight: 500;
  border: none;
  font-size: 1rem;
  background-color: $blue;
  color: $white;
  border-radius: 100rem;
  margin-left: -0.1rem;
  &:hover{
    color: white;
    background-color: $primary;
  }
  }

.btn-2 {
    background: linear-gradient(90deg, #6e00ff, #4d00ff);
    border: none;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s ease;

    &:hover {
      background: linear-gradient(90deg, #4d00ff, #6e00ff);
      transform: translateY(-2px);
    }
  }

