@use "../custom" as *;

.btn-rounded {
  @include media-breakpoint-down(sm) {
    display: none;
  }
  padding: 0.54rem 1.8rem 0.54rem 1.8rem;
  font-weight: 500;
  border: none;
  font-size: 1rem;
  background-color: $blue;
  color: $white;
  border-radius: 100rem;
  margin-left: -0.1rem;
  &:hover{
    color: white;
    background-color: $primary;
  }
  }


