@use "../custom" as *;

.btn-rounded {
  @include media-breakpoint-down(sm) {
    display: none;
  }
  position: relative;
  padding: 0.55rem 1.3rem 0.55rem 1.3rem;
  font-weight: 500;
  border: none;
  text-transform: capitalize;
  background-color: $primary;
  border-radius: 10rem;
  color: $white;
  margin: 0rem 0rem 0rem 0.2rem;
  &:hover {
    background-color: rgb(9, 9, 220);
    color: $white;
  }
}

.btn-intro {
  position: relative;
  padding: 0.54rem 1.3rem 0.54rem 1.3rem;
  font-weight: 500;
  border: none;
  text-transform: capitalize;
  background-color: $white;
  border-radius: 10rem;
  color: $primary;
  overflow: hidden;
  &:hover {
    background-color: $dark-blue;
    color: $white;
    transition: background 0.2s ease-in;
  }
}
