@use "../custom" as *;

// Display 2
.display-2 {
  margin-bottom: 1rem;
  font-family: "poppins", sans-serif;

  &--intro {
    font-weight: 500;
    color: $gunmetal;
    display: block;
  }

  &--description {
    font-size: 1.5rem;
    font-weight: 400;
    color: $gray-600;
    margin-top: 1.2rem;
    display: block;
  }
}

// Display 3
.display-3 {
  font-family: "poppins", sans-serif;

  &--title {
    font-size: 1.5rem;
    font-weight: 500;
    color: $gray-700;
  }

  &--description {
    font-size: 1rem;
    font-weight: 400;
    color: $gray-600;
    margin-bottom: 1.5rem;
  }
}

// Display 4
.display-4 {
  font-family: "poppins", sans-serif;

  &--title {
    font-size: 2.1rem;
    font-weight: 600;
    color: $gunmetal;
    text-align: center; // center text for responsive
    margin: 0 auto 1.5rem auto;
  }

  &--description {
    font-size: 1.3rem;
    font-weight: 400;
    color: $gray-600;
    text-align: center;
    margin: 0 auto 5rem auto;
    max-width: 900px; // text wrap properly on large screens
  }
}

// Display 5
.display-5 {
  font-family: "poppins", sans-serif;

  &--title {
    font-size: 2.5rem;
    font-weight: 600;
    color: $gunmetal;
    margin-bottom: 1rem;
  }

  &--description {
    font-size: 1.2rem;
    font-weight: 400;
    color: $gray-600;
    text-transform: capitalize;
  }
}

// Responsive adjustments
@media (max-width: 991px) {
  .display-2--description {
    font-size: 1.3rem;
  }

  .display-4--title {
    font-size: 1.8rem;
  }

  .display-4--description {
    font-size: 1.1rem;
    max-width: 100%;
    margin: 0 auto 3rem auto;
  }

  .display-5--title {
    font-size: 2rem;
  }

  .display-5--description {
    font-size: 1.1rem;
  }
}

@media (max-width: 576px) {
  .display-2--description {
    font-size: 1.1rem;
  }

  .display-4--title {
    font-size: 1.5rem;
  }

  .display-4--description {
    font-size: 1rem;
  }

  .display-5--title {
    font-size: 1.8rem;
  }

  .display-5--description {
    font-size: 1rem;
  }
}
