@use "../custom" as *;

.display-2 {
  margin-bottom: 1rem;
  font-family: "poppins", sans-serif;

  &--intro {
    position: relative;
    font-weight: 500;
    font-family: "poppins", sans-serif;
    color: $gunmetal;
  }

  &--description {
    font-size: 1.5rem;
    display: block;
    position: relative;
    margin-top: 1.2rem;
    text-transform: none;
    font-weight: 400;
    color: $gray-600;
    margin-bottom: 1.5rem;
  }
}

.display-3 {
  font-family: "poppins", sans-serif;

  &--intro {
    font-size: 1.3rem;
    display: inline-block;
    position: relative;
    font-weight: 400;
    font-family: "poppins", sans-serif;
  }

  &--descriptions {
    font-size: 1.3rem;
    position: relative;
    display: block;
    margin-top: 1.2rem;
    text-transform: none;
    font-weight: 350;
    color: $gray-600;
    margin-bottom: 1.5rem;
  }
}


.display-4 {
  font-family: "poppins", sans-serif;

  &--title {
    font-size: 1.5rem;
    font-weight: 500;
    color: $gray-700;
    font-family: "poppins", sans-serif;
  }
}
